<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <%- include("./partials/nav")%>
    <div class="container">
        <div style="position: relative; left: 250px;"><h1>Welcome to my BLOG</h1></div>
       <h2>About</h2>
       <div class="content">
        <div class="about-content flex">
            <p>Hi This is Atanu from West Bengal.I have keen interest to Explore new Technology,recently i completed my MERN full stack.I am looking for an entry-level position to kickstart my career in the Software
                Development field .As I have been working on my skill and self-development,I
                would be more than exited to implement my innovative ideas, creativity and
                technical knowledge for accomplishing the Project and add value to the
                company</p>
            <img src="\images\WhatsApp Image 2023-07-31 at 22.37.29.jpeg" alt="man">
        </div>
       </div>
       <address>
        Atanu Chandra <br>
        Jspiders Rajajinagar <br>
        Dalmadal Road <br>
        Bishnupur 722122 <br>
        West Bengal-India
    </address> 
    </div>
    <%- include("./partials/footer")%>
</body>
</html>